/**** CONTACTS STYLES ****/

.product-registration {background: #F2F2F2;padding: 80px 0;}
.product-registration h3 {color: #434343;font-family: 'Museo_Slab_700';font-size: 25px;font-weight: normal;margin: 0 0 10px;}
.product-registration p {color: #434343;font-size: 13px;margin: 0 0 25px;font-family: 'HelveticaNeueLTStd-Lt';}
.product-registration p span {color:red}
.product-registration form textarea {min-height:150px;}
.product-registration form input, .product-registration form textarea, .product-registration form select {width: 100%;border: 1px #767676 solid;padding: 15px 15px;margin-bottom: 20px;border-radius: 10px;font-size: 15px;font-family: 'HelveticaNeueLTStd-Lt';}
.product-registration form input[type="submit"] {background: #2659A8;color: #fff;margin:0;transition:.6s;}
.product-registration form input[type="submit"]:hover {cursor:pointer;background:transparent;color:#2659A8;border:1px #2659A8 solid;transition:.6s;}
.product-registration .subtext p {margin: 10px 0 5px;font-size: 14px;}
.product-registration .subtext p a {font-family: 'HelveticaNeueLTStd-Lt';font-size: 15px;text-decoration: underline;color: #2659A8;}

.custom-checkbox {
  padding-left: 30px;
  position: relative;
  display:inline-block;
}
#terminos-error {    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    padding: 0;}
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  left: -100px;
}
.custom-checkbox input[type="checkbox"]:checked + label {
  color: #00629d;
}
.custom-checkbox input[type="checkbox"]:checked + label ~ .checkbox {
  background-color: #00629d;
}
.custom-checkbox input[type="checkbox"]:checked + label ~ .checkbox::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.custom-checkbox label {
    font-size: 15px;
    color: #434343;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0;
    font-weight: normal;
    font-family: 'HelveticaNeueLTStd-Lt';
}
.custom-checkbox .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px #767676 solid;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 45%;
    margin-top: -7.5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.custom-checkbox .checkbox::before {
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  color: #ffffff;
  font-size: 11px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.1, 1.1);
          transform: translate(-50%, -50%) scale(1.1, 1.1);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}