/* CUSTOM STYLES */


@font-face{
  font-family:'Matter-Bold'; src:url('../fonts/Matter-Bold.otf');
}
@font-face{
  font-family:'Matter-SemiBold'; src:url('../fonts/Matter-SemiBold.otf');
}

@font-face{
  font-family:'Matter-Regular'; src:url('../fonts/Matter-Regular.otf');
}

@font-face{
  font-family:'Matter-Medium'; src:url('../fonts/Matter-Medium.otf');
}


body, html {background:#fff;font-family: 'Barlow Condensed', sans-serif;scroll-behavior: smooth;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a, ul, li {font-family: 'Matter-Regular', sans-serif;}

.custom-radio-button {text-align:right;padding:10px;}
.custom-radio-button a {margin: 0 5px;font-size: 14px;font-family: 'Matter-Regular';}
.custom-radio-button a.active {color: #5369e5 !important}

header {background:#161A44;}
header .logo-img {max-width:180px;}
header p {margin:0;font-size:12px;color: #001871;font-family:'Matter-Regular';}
header .icon-edit {cursor:pointer;margin-top: 5px;font-size: 13px;color: #5369e5;}

header .notif {display: inline-block;max-width: 23px;position:relative;}
header .number-notif {position: absolute;right: -7px;top: -7px;background: #5369e5;color: white;border-radius: 100%;font-size: 9px;width: 18px;height: 18px;display: flex;align-items: center;justify-content: center;}
header .user-name {cursor:pointer;margin: 0 10px;background: #5369e5;color: #fff;padding: 9px;border-radius: 100%;}
header .user-name h6 {margin: 0;font-family: 'Matter-Bold';font-size: 11px;}
header .homeicon {transition:.6s;display: inline-block;max-width: 35px;cursor:pointer;color: #5369e5;font-size:27px;margin-right:9px;}
header .homeicon:hover {transition:.6s;opacity:.6;}

.select-dropdown {
  position: relative;
  display: block;
  max-width: 100%;
}
.select-dropdown__button {
  padding: 10px 35px 10px 15px;
  background-color: #fff;
  color: #001871;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  min-width:400px;
  text-align:center;
  font-family: 'Matter-Regular', sans-serif;
  margin: 5px 0px;
}
.select-dropdown__button::focus {
  outline: none;
}
.select-dropdown__button .zmdi-chevron-down {
  position: absolute;
  right: 10px;
  top: 15px;
}
.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1, 0);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}
.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}
.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  font-size: 12px;
  line-height: 1.4;
  cursor: pointer;
  color: #001871;
  transition: all ease-in-out 0.3s;
  font-family:'Matter-Regular', sans-serif;
}

.home-sect-btns .number-notif {position: absolute;right: -7px;top: -10px;background: #5369e5;color: white;border-radius: 100%;font-size: 11px;width: 22px;height: 22px;display: flex;align-items: center;justify-content: center;}

.nav-menu-animated.active-menu {transition:.6s;transform:translate(0px, 0px);}
.nav-menu-animated {transition:.6s;transform:translate(100%, 0px);position: fixed;right: 0;bottom: 0;z-index: 3;background: #5369e5;top: 0;min-width: 350px;padding: 50px;}
.nav-menu-animated ul {list-style:none;margin:0px;padding:0px;}
.nav-menu-animated ul li a {text-transform:uppercase;color: #fff;font-family:'Matter-Medium';text-decoration:none;display:inline-block;margin-bottom:15px;}
.close-menu {cursor:pointer;transition:.6s;background: #fff;display: inline-flex;width: 30px;position: absolute;right: 15px;top: 15px;align-items: center;justify-content: center;border-radius: 100%;font-size: 18px;font-family: Arial;height: 30px;color: #5369e5;line-height: 0;font-weight: bolder;}
.close-menu-notif {cursor:pointer;transition:.6s;background: #fff;display: inline-flex;width: 30px;position: absolute;right: 15px;top: 15px;align-items: center;justify-content: center;border-radius: 100%;font-size: 18px;font-family: Arial;height: 30px;color: #5369e5;line-height: 0;font-weight: bolder;}
.close-menu:hover {opacity:.6;transition:.6s;}
.close-menu-notif:hover {opacity:.6;transition:.6s;}
.navbar-brand {padding:0px;margin:0px;}

.nav-menu-animated-notif.active-menu {transition:.6s;transform:translate(0px, 0px);}
.nav-menu-animated-notif {transition:.6s;transform:translate(100%, 0px);position: fixed;right: 0;bottom: 0;z-index: 3;background: #5369e5;top: 0;min-width: 350px;padding: 50px;}
.nav-menu-animated-notif ul {list-style:none;margin:0px;padding:0px;}
.nav-menu-animated-notif ul li a {color: #fff;font-family:'Matter-Medium';text-decoration:none;display:inline-block;margin-bottom:15px;}

.nav-menu-animated-notif h4 {color: #fff;display:block;}
.nav-menu-animated-notif p {color: #fff;display:block;margin:5px 0px;}
.nav-menu-animated-notif p a:hover {color: #fff;}

@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

a {transition:.6s;text-decoration:none;color:inherit;}
a:hover, a:focus {transition:.6s;outline:none;text-decoration:none;opacity:.5;}

.section-home-01 {background-image:url('../img/back-img-home.png');background-size:cover;background-position:center;padding: 40px 0;border-image-source: linear-gradient(to left, #5369e4, #af79df) !important;border: 10px solid;border-image-slice: 1;border-width: 12px;border-top: none;border-left: none;border-right: none;}
.section-home-01 .logo-hl {max-width:180px;}
.section-home-01 .logo-tour {max-width:250px;margin: 65px 0px 65px;}

.form-login {padding:50px;}
.form-login form input {font-size:15px;width:100%;font-family:'Matter-Medium';padding: 10px;border: none;border-bottom: 2px #b4bfd2 solid;margin-bottom: 10px;color: #000;}
.form-login input[type="submit"] {background: #5369e5;padding: 15px;color: #fff;border: none;}
.form-login .divider hr {border-color: #b4bfd2;border-width: 2px;display: inline-block;width: 100%;}
.form-login .divider p {margin: 0 15px;color: #b4bfd2;font-family: 'Matter-Medium';}
.link-pass {color: #5369e5;display: inline-block;margin-bottom: 15px;font-family: 'Matter-Bold';font-size: 14px;}
.form-login .sign-up {background: #b076e2;padding: 15px;color: #fff;border: none;width: 100%;display: inline-block;text-align: center;margin-top: 10px;font-family: 'Matter-Medium';font-size: 15px;}

.passoword-input {position:relative;}
.passoword-input i {position: absolute;right: 0;top: 10px;color: #b4bfd2;}

header {background:#fff;padding:20px 0px 30px;}
.absolite-img-tour {position: absolute;left: 0;right: 0;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;}
.absolite-img-tour img {max-width:230px;}

.home-sect-btns {margin: 20px 0 0;border-image-source: linear-gradient(to left, #5369e4, #af79df) !important;border: 10px solid;border-image-slice: 1;border-width: 20px;border-top: none;border-left: none;border-right: none;}
.home-sect-btns .contante-btn {display: inline-flex;width: 100%;flex-direction: column;align-items: center;justify-content: center;background: #dbe2e9;min-height: 145px;margin-bottom:30px;}
.home-sect-btns .contante-btn h4 {margin: 15px 0 0;color: #b076e2;font-size: 17px;font-family: 'Matter-Bold';}

.btn-proced {cursor:pointer;transition:.6s;background: #001871;margin: 0 0 10px;border-radius: 10px;display: inline-block;color: #fff;padding: 5px 19px 7px;font-family: 'Matter-Regular';font-size: 11px;}
.btn-proced:hover {opacity:.6;transition:.6s;}

.home-sect-top {padding:50px 0;}
.home-sect-top .home-sect-btns {border: none;margin: 0;align-items: center;}
.home-sect-top .home-sect-btns .row {height:100%;}
.home-sect-top .home-sect-btns .row .col-6 {padding: 5px;}
.home-sect-top .home-sect-btns .contante-btn {margin-bottom: 0;height: 100%;}

.custom-calendar .fc-event {background: #5369e5;border: none;padding: 9px 5px;}
.custom-calendar .fc-event.proximo {pointer-events: none;opacity: .5;}
.custom-calendar .fc-event.pendiente {background:#b076e2;border: none;padding: 9px 5px;}
.custom-calendar .fc-head-container.fc-widget-header {background: #001871;color: #fff;}
.custom-calendar .fc-unthemed td.fc-today {background: rgb(83 105 229 / 17%);}

.modal-events {position: fixed;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 24 113 / 84%);z-index: 9;}
.modal-events .content-modal {position:relative;background: #fff;padding: 10px;min-width: 800px;padding:30px;}
.modal-events .content-modal .title-event {color:#5369e5;font-family: 'Matter-Bold';font-size: 37px;}
.modal-events .content-modal .description-event {color:#001871;font-family: 'Matter-Regular';font-size: 17px;}
.modal-events .content-modal h4 {margin: 0 0 20px;font-size: 14px;font-family: 'Matter-Regular';}
.modal-events .content-modal img {max-width:70px;}

.modal-procedimiento {position: fixed;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 24 113 / 84%);z-index: 9;}
.modal-procedimiento .content-form {position:relative;background:#dbe2e9;padding: 10px;max-width: 800px;padding:30px;}
.modal-procedimiento .content-form h3 {color: #001871;font-family: 'Matter-SemiBold';font-size: 23px;margin: 0 0 20px;}
.modal-procedimiento .content-form form input, .modal-procedimiento .content-form form select {width:100%;border: none;padding: 15px 15px;margin-bottom: 10px;color: #001871;font-family: 'Matter-SemiBold';font-size: 16px;}
.modal-procedimiento .content-form form input[type="submit"] {background: #5369e5;font-weight: bold;color: white;border: 0 none;border-radius: 0px;cursor: pointer;padding: 11px 25px;margin: 5px 0 0;float: right;transition: .6s;width: auto;font-size: 15px;}
  
.modal-demos {position: fixed;left: 0;right: 0;bottom: 0;top: 0;background: rgb(0 24 113 / 84%);z-index: 9;}
.modal-demos .content-form {position:relative;background:#dbe2e9;padding: 10px;max-width: 800px;padding:30px;}
.modal-demos .content-form h3 {color: #001871;font-family: 'Matter-SemiBold';font-size: 23px;margin: 0 0 20px;}
.modal-demos .content-form form select {display:none;}
.modal-demos .content-form form input {width:100%;border: none;padding: 15px 15px;margin-bottom: 10px;color: #001871;font-family: 'Matter-SemiBold';font-size: 16px;}
.modal-demos .content-form form input[type="submit"] {background: #5369e5;font-weight: bold;color: white;border: 0 none;border-radius: 0px;cursor: pointer;padding: 11px 25px;margin: 5px 0 0;float: right;transition: .6s;width: auto;font-size: 15px;}

.cierre-modal {cursor:pointer;position: absolute;right: 5px;top: 5px;background: #5369e5;color: #fff;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 100%;font-size: 13px;font-weight: bold;font-family: 'Matter-Bold';}
.cierre-modal-proc {cursor:pointer;position: absolute;right: 5px;top: 5px;background: #5369e5;color: #fff;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 100%;font-size: 13px;font-weight: bold;font-family: 'Matter-Bold';}
.cierre-modal-demo {cursor:pointer;position: absolute;right: 5px;top: 5px;background: #5369e5;color: #fff;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;border-radius: 100%;font-size: 13px;font-weight: bold;font-family: 'Matter-Bold';}

.entrenamientos h4 {font-size: 25px;margin-bottom: 25px;}
.entrenamientos .card {border:none;background:none;}
.entrenamientos .card-header {background:none;}
.entrenamientos .card-header .btn-link {color: #001871;font-family: 'Matter-SemiBold';font-size: 18px;}
.entrenamientos .card-header .btn-link:hover, .entrenamientos .card-header .btn-link:focus {outline:none;color: #001871;text-decoration:none;}

.item-encuesta:hover {color:#000;}
.item-encuesta.pendiente i {color:#fff;}
.item-encuesta.realizada i {color:#fff;}
.item-encuesta.pendiente {background: #b076e2;color: #fff;}
.item-encuesta.realizada {background: #001871;color: #fff;}
.item-encuesta i {margin-left:auto;margin-right:10px;font-size: 14px;}
.item-encuesta {width: 100%;display: flex;align-items:center;justify-content:center;border-bottom: 1px #000 solid;padding: 5px 5px;}

.encuestas-pendientes {padding:50px 0;}
.encuestas-pendientes h3 {margin-bottom: 30px;font-size: 23px;}
.encuestas-pendientes h4 {margin:10px 0;font-size:20px;}

.collapse h5 {font-size: 15px;color: #000;}
.collapse i {color:#5369e5;font-size:40px;margin: 0;line-height: normal;}
.collapse p {font-size: 12px;color: #000;margin: 5px 0 10px;}

.disable {pointer-events:none;opacity:.6;transition:.6s;}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number, .fc-view-container *, .fc-view-container :after, .fc-view-container :before {font-family: 'Matter-Regular';font-size: 14px;}

.head-estaditicas {
    background: linear-gradient(90deg, rgba(175,131,223,1) 0%, rgba(83,105,228,1) 100%);
    align-items: center;
    margin: 0px;
    padding:20px 25px;
}

.head-estaditicas h3 {
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: normal;
    text-align: left;
    font-family: 'Matter-Bold';
    margin-left: 10px;
}

.content-bars {padding: 30px;}
.content-bars p {color:#001871;margin: 0 0 10px;font-size: 17px;display:flex;align-items:center;}
.content-bars p span {margin-left:auto;}
.content-bars .progress {background: #fff;margin-bottom: 10px;border-radius: 10px;}
.content-bars .progress-bar {background: #001871;}
.content-bars .bars-desc:nth-child(2n) .progress-bar {background:#5369e5;}
.content-bars .bars-desc:nth-child(2n) p {color:#5369e5;}
.content-bars .bars-desc:nth-child(3n) .progress-bar {background:#b076e2;}
.content-bars .bars-desc:nth-child(3n) p {color:#b076e2;}

.stadiscts {max-width:75%;padding: 15px 15px;margin: 0 auto;}

.enviando-formulario {position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: #5369e5;display: flex;align-items: center;justify-content: center;opacity: 0;z-index: -1;transition: .6s;flex-direction:column;}
.enviando-formulario img {max-width:25px;}
.enviando-formulario p {font-size:14px;margin:0;color: #fff;}
.enviando-formulario.active-envio {opacity:1;z-index:2;}
.enviando-formulario .segundo-mensaje.active-mensaje, .enviando-formulario .primer-mensaje.active-mensaje {opacity:1;transition:.6s;}
.enviando-formulario .segundo-mensaje, .enviando-formulario .primer-mensaje {transition:.6s;opacity:0;position:absolute;top: 0;right:0;left:0;bottom:0;}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  display: block;
  height: auto;
  padding: 0;
  border: none;
  font-size: inherit;
  line-height: inherit;
  background: none;
  vertical-align: inherit;
  margin: 0 5px;
  flex: 1;
}

.custom-select input {
    background-color: #af79df;
    box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 36%);
    border-radius: 10px;
    font-family: Matter-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 11px 25px 12px !important;
    text-transform: uppercase;
    font-size: 13px;
    border:none;
    width:100%;
    color: #fff;
}

.custom-select select {
  display:block; /*hide original SELECT element:*/
  opacity: 0;
  height: 0;
  font-size: 0px;
}

.select-selected {
  background-color: #001871;
  box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 36%);
  border-radius: 10px;
  font-family: Matter-Regular;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 11px 25px 12px !important;
  text-transform: uppercase;
  font-size: 13px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  bottom:0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 11px;
  position:relative;
  box-shadow:none;
  margin-bottom: 10px;
}

.select-items div {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 11px;
  position:relative;
  box-shadow:none;
  margin-bottom: 0px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #af79df;
  top: 80%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}




@media only screen 
  and (max-width: 767px){
    .stadiscts {max-width:100%;}
    .home-sect-btns .contante-btn {margin-bottom:0px;}
    header {padding:20px 0px 20px;}
  	.home-sect-top {padding:0px;}
    .p-title {margin: 0 0 25px;font-size: 13px;font-family:'Matter-Regular';color: #001871;}
    .fc-toolbar.fc-header-toolbar {display: flex;align-items: center;justify-content: center;}
    .fc-toolbar .fc-left {margin-right:auto;}
    .fc-toolbar .fc-left h2 {font-size:100%;}
    .modal-events .content-modal {min-width:95%;}
}


