#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding:0px;
    position: relative
}

.form-card {
    text-align: left
}

/* Error */
span.error {
  font-size: 12px;
  font-family:'Matter-Regular';
  color: red;
  text-transform: uppercase;
  display: block;
  margin: 10px 0px;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family:'Matter-Regular';
    color: #2C3E50;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #5369e5;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
    transition:.6s;
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #af83df;transition:.6s;
}

#msform .action-button-previous {
    width: 100px;
    background: #af83df;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;transition:.6s;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #5369e5;transition:.6s;
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.title-degrade-form {
    background: linear-gradient(90deg, rgba(175,131,223,1) 0%, rgba(83,105,228,1) 100%);
    align-items: center;
    padding: 15px;
    margin:0;
}

.content-inputs {
    padding:30px 20px 10px;
    background:#dbe2e9;
}

.content-inputs h5 {color:#5369e5;margin:0px;font-family:'Matter-Bold';font-size:18px;}
.content-inputs h6 {color: #001871;margin: 5px 0px 15px;font-size:16px;font-family:'Matter-Regular';}
.content-inputs p {color: #90abbb;margin: 0px;font-family:'Matter-Regular';text-align:center;font-size:15px;}

.fs-title {
        font-size: 21px;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: normal;
    text-align: left;
    font-family: 'Matter-Bold';
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
    text-align: right;
    font-family: 'Matter-Bold';
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #5369e4
}

.fit-image {
    width: 100%;
    object-fit: cover
}

/* Customize the label (the container) */
.radio-custom {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

/* Hide the browser's default radio button */
.radio-custom input {
        display: block !important;
        margin: 0 !important;
        width: 0 px!important;
        height: 0px!important;
}

/* Create a custom radio button */
.checkmark {
      position: relative;
    background-color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #001871;
    font-family: 'Matter-SemiBold';
    font-size: 18px;
    padding: 15px 0px;
    transition:.6s;
}

/* On mouse-over, add a grey background color */
.radio-custom:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-custom input:checked ~ .checkmark {
  background-color: #001871;
  color: #fff;
  transition:.6s;
}

.inputs-customs {display:inline-block;width:100%;margin-top:15px;}