.section-header{position:relative; padding:0; min-height:400px; background-repeat:no-repeat; background-position:center center; background-attachment:fixed; background-size:cover; position:relative;}
.section-header:after{content:''; width:50%; height:10px; background:#6861e8; position:absolute; bottom:0; left:0; z-index:2;}
.section-header:before{content:''; width:100%; height:100%; top:0; left:0; position:absolute; background-color:rgba(0,0,0,0.6); z-index:1;}
.section-header .sec-title{position:absolute; bottom:30px; left:10%; color:#fff; z-index:1;}
.section-header h1{font-weight:600; font-size:52px; line-height:56px; margin-bottom:0; margin-top:0; max-width:60%;}
.section-header .sec-title h3{margin-bottom:0;}
.section-header .likeapro{position:absolute; z-index:3; left:10%; top:40px;}

.cursos-destacados{padding:80px 9%; text-align:left; position:relative;}
.cursos-destacados h2{font-weight:100; font-size:60px; margin-bottom:50px;}

.hideshare-list{border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:10px 15px; margin-bottom:30px;}

.bajada{margin:30px 0; padding:20px 0; font-size:20px; line-height:26px; font-weight:bold; color:#6861e8;}
.descripcion{padding:20px 0;}
.descripcion img{max-width:100%;}

.mt80{margin-top:80px;}
.form{margin-top:0px;}
.form h3{margin-top:0; color:#333; font-size:26px; letter-spacing:-1px;}


.form .input-td input,.form .input-td textarea,.form .input-td select{width:100%; border:1px solid #ededed; background:#ededed; color:#333; padding:12px 8px; resize:none; max-width:100%; margin:2px 0;}
.form .input-td textarea{height:180px;}
.input-td{padding:0 0; position:relative;}
.input-td.error input, .input-td.error_mail input{
	border:1px solid #ff0000;
}

.form .btn{text-shadow:none; width:100%; font-size:22px; text-align:center; font-weight:300; padding-left:30px; padding-right:30px; border:0; border-radius:0; margin-top:2px; background: #47cfd9; color:#fff; text-shadow:none;}


@media screen and (min-width: 1440px) {
   .list-curso{height:540px;}
   .list-curso h2{font-size:32px;}
   .list-curso:hover .imagen{height:150px !important;}
   .list-curso .descripcion{height:140px; font-size:13px;}
   .list-curso:hover .descripcion{height:280px;}
   .bertoldi .data{padding:250px 15% 250px 4%; color:#fff;}
}
@media screen and (max-width:768px) {
	.customer-data{width:100%;}
	.list-curso .descripcion{height:240px;}
	.list-curso:hover .descripcion{height:280px;}
	.section-header h1{font-size:42px; line-height:45px;}
	.cursos-destacados {
		padding: 120px 5%;
		text-align:center;
	}
	.list-profesor{margin:40px 0;}
	.list-profesor .imagen{display:inline-block;}
	.cursos-destacados .col-r{padding-top:80px;}
	.list-curso .imagen{height:200px !important;}
	.list-curso:hover .imagen{height:80px !important;}
	.list-curso:hover .descripcion {height: 200px;}
	.cursos-destacados .col-r{padding-left:0;}
	.list-profesor .descripcion b{font-size:18px;}
	.cursos-destacados{padding:80px 0; text-align:center; }
	.sede-fecha-inicio {font-size: 12px;}
}

@media screen and (max-width:600px) {
	.list-curso .imagen{height:150px !important;}
	.list-curso .descripcion{height:150px;}
	.list-curso:hover .descripcion{height:220px;}
	
}